## Base16 {{scheme-name}}
# Author: {{scheme-author}}
#
# You can use these variables anywhere in the mako configuration file.

background-color=#{{base00-hex}}
text-color=#{{base05-hex}}
border-color=#{{base08-hex}}
font=Ark Pixel 12px Monospaced ja 19
border-radius=0
anchor=top-right
margin=15

[urgency=low]
background-color=#{{base00-hex}}
text-color=#{{base0A-hex}}
border-color=#{{base08-hex}}

[urgency=high]
background-color=#{{base00-hex}}
text-color=#{{base08-hex}}
border-color=#{{base08-hex}}