/*
*
* Base16 {{scheme-name}}
* Author: {{scheme-author}}
*
*/

@define-color black #{{base00-hex}};
@define-color red #{{base08-hex}};
@define-color green #{{base09-hex}};
@define-color yellow #{{base0A-hex}};
@define-color blue #{{base0B-hex}};
@define-color purple #{{base0C-hex}};
@define-color aqua #{{base0D-hex}};
@define-color gray #{{base05-hex}};
@define-color brgray #{{base01-hex}};
@define-color brred #{{base02-hex}};
@define-color brgreen #{{base03-hex}};
@define-color bryellow #{{base03-hex}};
@define-color brblue #{{base04-hex}};
@define-color brpurple #{{base04-hex}};
@define-color braqua #{{base04-hex}};
@define-color white #{{base07-hex}};
@define-color bg2 #{{base04-hex}};
